.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container .leaflet-container {
  height: 100vh;
  width: 100%;
  padding: 15px;
}

.header {}

.container {
  background-color: transparent;
}

.head {
  z-index: 10;
  background-color: transparent;
}

.footer{
  
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}
.footer a {
  margin-right: 40px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}